<!doctype html>
<html>
<head>
    <title>Skills-Web</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Come work with us!</h1>
    <div>We take our jobs seriously without taking ourselves too seriously. We want people like you to come help us be awesome! Please fill out this application form:
    </div>
    <br>
    <br>
    <form action="/application" method="POST">
        <label>First name: </label>
            <input type="text" name="first-name"><br><br>
        <label>Last name: </label>
            <input type="text" name="last-name" id="lname"><br><br>
        <label>Your salary requirements: </label>
            <input type="text" name="salary"><br><br>
        <label>Please select the job you are interested in: </label>
            <select name="job">
                <option value="soft-eng">Software Engineer</option>
                <option value="qa-eng">QA Engineer</option>
                <option value="prod-man">Product Manager</option>
            </select><br><br>
        <input type="submit">
    </form>

</body>
</html>